@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Josefin+Sans:wght@100&family=Nova+Round&display=swap");

$font-1: "Nova Round", cursive;
$font-2: "Dosis", sans-serif;
$font-3: "Josefin Sans", serif;


$color-1: #a19c9c;
$color-2: #bbbbbb;
$color-3: #c9345c;
$color-4: #e80c59;
$color-5: #37494d;
$color-6: #611212;
$color-7: #c7c7c7;


$white: #ddd;
$black: #333;


$borderRadius: 25px;
$shadow: 0 1px 3px #333;
$minHeight: 95vh;

//Fonction pour aligner les éléments dans le sens vertical
@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

//Eléments s'appliquant à tout (*)
* {
  box-sizing: border-box;
  margin: 0;
  margin: 0;
}

body {
  margin: 1rem auto;
  max-width: 1200px;
  font-family: $font-1;
  color: $black;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $black;
  cursor: pointer;
}

//Permet que le lien cliqué ne soit pas "violet" mais noir
a:visited {
  color: $black;
}

//Réglages de base pour chacunes de nos pages

.home,
.knowledges,
.portfolio,
.contact {
  display: flex;
  //Si taille fenetre passe en dessous de 'max-width', on passe les éléments flex en block
  @media screen and (max-width: 850px) {
    display: block !important;
  }
}
.homeContent,
.knowledgesContent,
.portfolioContent,
.contactContent {
  margin-left: 0.4rem;

  @media screen and (max-width: 850px) {
    margin-left: 0 o !important;
  }
}
